

body{
    margin: 0;
    
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}
#about-me{
    float: left;
    background-color: rgb(59, 58, 58);
    width: 25%;
    text-align: center;
    padding: 5px 5px 0px 5px;
    color: aliceblue;
    height: max-content;
    margin: 0;
    

}
#name{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 28%;
    color: rgb(77, 63, 63);
    border-bottom: 2px solid;
}
#contact-info{
    float: right;
    margin-right: 10px;
    margin-top: -120px;
}
.work-experience{
    margin-left:26% ;
    
    color: rgb(77, 63, 63);
    border-bottom: 2px solid;
}
#work-experience2{
    margin-left: 35%;
    color: rgb(77, 63, 63);
    margin-top: -250px;
}
li{
    list-style-type: none;
    font-size: larger;
    font-weight: bold;
}

#education{
    margin-left: 26%;
    color: rgb(77, 63, 63);
    text-align: left;
}
#education2{
    margin-left: 35%;
    color: rgb(77, 63, 63);
    margin-top: -70px;
}
#skills{
    margin-top: 3%;
    margin-left: 28%;
    color: rgb(77, 63, 63);
    text-align: left;
}
#certification{
    margin-left: 55%;
    color: rgb(77, 63, 63);
    margin-top: -235px;
}
.fa{
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    bottom: 0;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3b5998;
    color: white;
}
.fa-twitter{
    background: #55acee;
    color: white;
}
.fa-linkedin{
    background: #041d53;
    color: white;
}

@media only screen and (min-width: 330px)and (max-width:768px){

    #about-me{
        float: left;
        
        width: 50%;
        text-align: center;
        padding: 5px 5px 0px 5px;
        color: aliceblue;
        height: 100%;
        border-right: 1px solid;
        border-color: black;
        margin-right: 10px;
       
        
    }
    
    
    body{
        background-color: #98ad9b;
        margin: 0;
    }
    
    
    #name{
        font-size: large;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        
        color: rgb(77, 63, 63);
        
        max-width: 50%;
        margin-top: -50;
        margin-left: 52%;
        padding-left: 20px;
        
        
    }
    #contact-info{
        max-width: 40%;
        margin-top: -1270px;
        margin-left: 22%;
        padding-left: 20px;
        float: right;
    }
    li{
        list-style-type: none;
        font-size: larger;
        font-weight: bold;
    }
    #work-experience1{
        
        float: right;
        color: rgb(77, 63, 63);
        margin-top: -900px;
        max-width: 50%;
        
        margin-right: 4px;
        
    }
    #work-experience2{
        margin-left: 52%;
        color: rgb(77, 63, 63);
        margin-top: -400px;
        max-width: 50%;
        float: right;
        margin-left: 2px;
        
    }
    #education{
        margin-top: -80px;
        color: rgb(77, 63, 63);
        text-align: left;
        /* margin-left: -15%; */
        max-width: 30%;
        
    }
    #education2{
        margin-top: -10px;
        color: rgb(77, 63, 63);
        text-align: left;
        margin-left: 5%;
        max-width: 50%;
    }
    #skills{
        margin-top: -490%;
        margin-right: 20px;
        color: rgb(77, 63, 63);
        text-align: left;
        max-width: 35%;
        float: right;
    }
    #certification{
        margin-top: 5%;
        margin-left: 15%;
        color: rgb(77, 63, 63);
        
        
    }
    .fa{
        padding: 20px;
        font-size: 20px;
        width: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        margin: 3px;
        bottom: 0;
    }
    .fa:hover{
        opacity: 0.7;
    }
    .fa-facebook{
        background: #3b5998;
        color: white;
    }
    .fa-twitter{
        background: #55acee;
        color: white;
    }
    .fa-linkedin{
        background: #041d53;
        color: white;
    }
    
    img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        
    }
    
    
}
